#wrap {
  width: 100%;
  height: 100%;
  background-color: #fff; }

@media screen and (min-width: 240px) and (max-width: 767px) {
  #headBox {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #00146F; }
    #headBox > h1 {
      float: left;
      width: 20%;
      height: 80px;
      margin-left: 2vw; }
      #headBox > h1 > a {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../nivea_image/logo/nivea_logo.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%; }
    #headBox > .navgation {
      float: left;
      width: 70%;
      height: 100%; }
      #headBox > .navgation > ul {
        width: 100%;
        height: 100%; }
        #headBox > .navgation > ul > li {
          float: left;
          width: 30%;
          height: 100%;
          margin-right: 2vw; }
          #headBox > .navgation > ul > li:last-child {
            margin-right: 0; }
          #headBox > .navgation > ul > li:first-child {
            margin-left: 3vw; }
          #headBox > .navgation > ul > li > button {
            display: block;
            width: 100%;
            height: 100%;
            color: #fff;
            text-transform: uppercase;
            line-height: 80px;
            font-size: 0.8rem;
            background-color: transparent; }
          #headBox > .navgation > ul > li > .slide {
            position: absolute;
            left: 0;
            width: 100%;
            height: 200px;
            background-color: #fff;
            border: 1px solid #00136F;
            padding-left: 2%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; }
            #headBox > .navgation > ul > li > .slide > dl {
              float: left;
              width: 50%;
              height: 100%; }
              #headBox > .navgation > ul > li > .slide > dl > dt {
                color: #00136F;
                font-weight: 999;
                font-size: 0.8rem;
                padding: 30px; }
              #headBox > .navgation > ul > li > .slide > dl > dd {
                width: 180px;
                margin-bottom: 15px;
                text-indent: 30px; }
                #headBox > .navgation > ul > li > .slide > dl > dd > a {
                  display: block;
                  width: 100%;
                  height: 100%;
                  color: #333;
                  font-size: 0.8rem; }
            #headBox > .navgation > ul > li > .slide.slide_003 {
              height: 250px; }
              #headBox > .navgation > ul > li > .slide.slide_003 > dl {
                width: 50%;
                height: 65%; }
              #headBox > .navgation > ul > li > .slide.slide_003 > dl:last-of-type {
                width: 100%;
                height: auto;
                margin-top: 20px; }
                #headBox > .navgation > ul > li > .slide.slide_003 > dl:last-of-type > dt {
                  float: left;
                  margin-right: 5vw;
                  padding: 10px 20px; }
                  #headBox > .navgation > ul > li > .slide.slide_003 > dl:last-of-type > dt:last-child {
                    margin-right: 0; }
                  #headBox > .navgation > ul > li > .slide.slide_003 > dl:last-of-type > dt > a {
                    display: block;
                    color: #00136F;
                    font-weight: 999;
                    font-size: 0.8rem;
                    width: 100%;
                    height: 100%; }
          #headBox > .navgation > ul > li:nth-child(1) > .slide_001 {
            display: none; }
          #headBox > .navgation > ul > li:nth-child(2) > .slide_002 {
            display: none; }
          #headBox > .navgation > ul > li:nth-child(3) > .slide_003 {
            display: none; }
  #contentBox {
    width: 100%;
    height: auto;
    padding-top: 80px;
    background-color: #ccc;
    padding-bottom: 80px; }
    #contentBox > .brand_textBox {
      width: 100%;
      height: 85px;
      margin-top: 25px;
      background-color: #999; }
      #contentBox > .brand_textBox > p {
        text-align: center;
        line-height: 85px;
        font-weight: bold;
        font-size: 1.125rem; }
    #contentBox > .imageBox {
      width: 90vw;
      height: 42vw;
      margin: auto;
      margin-top: 25px; }
      #contentBox > .imageBox > .image_L {
        float: left;
        width: 42vw;
        height: 42vw;
        background-color: #cac; }
      #contentBox > .imageBox > .image_R {
        float: right;
        width: 42vw;
        height: 42vw;
        background-color: #cca; }
    #contentBox > .text_box_p {
      width: auto;
      height: auto; }
      #contentBox > .text_box_p > .textBox123 {
        width: 90vw;
        height: auto;
        margin: auto;
        margin-top: 25px; }
        #contentBox > .text_box_p > .textBox123 dt {
          font-size: 0.875rem;
          font-weight: bold;
          text-indent: 15px;
          padding-top: 10px; }
        #contentBox > .text_box_p > .textBox123 dd {
          font-size: 0.75rem;
          margin-top: 10px; }
    #contentBox > .oli_Box {
      width: auto;
      height: auto;
      margin: auto; }
      #contentBox > .oli_Box > .oil_image {
        width: 90vw;
        height: 200px;
        margin: auto;
        margin-top: 20px;
        background-image: url("../nivea_image/sub_product/oil_02.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%; }
      #contentBox > .oli_Box > .oil_textBox {
        width: 90vw;
        height: auto;
        margin: auto;
        margin-top: 25px; }
        #contentBox > .oli_Box > .oil_textBox dt {
          font-size: 0.875rem;
          text-indent: 15px;
          font-weight: bold;
          padding-top: 10px; }
        #contentBox > .oli_Box > .oil_textBox dd {
          font-size: 0.75rem;
          margin-top: 10px; }
    #contentBox > .animalBox {
      width: 90vw;
      height: 42vw;
      margin: auto;
      margin-top: 25px; }
      #contentBox > .animalBox > .animal_img {
        float: left;
        width: 42vw;
        height: 42vw;
        background-image: url("../nivea_image/sub_product/animal_test.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%; }
      #contentBox > .animalBox > .animal_text {
        position: relative;
        float: right;
        width: 42vw;
        height: 42vw; }
        #contentBox > .animalBox > .animal_text p {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          font-size: 0.75rem;
          width: 42vw;
          height: 42px;
          margin: auto;
          text-align: center; }
    #contentBox > .slideBox {
      width: 90vw;
      height: 42vw;
      margin: auto;
      margin-top: 25px;
      overflow: hidden; }
      #contentBox > .slideBox > ul {
        width: 500%;
        height: 100%; }
        #contentBox > .slideBox > ul > li {
          float: left;
          width: 20%;
          height: 100%; }
          #contentBox > .slideBox > ul > li > .picBox {
            float: left;
            width: 42vw;
            height: 42vw;
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat; }
            #contentBox > .slideBox > ul > li > .picBox.pic_img_01 {
              background-image: url("../nivea_image/sub_product/brand_image_01.jpg"); }
            #contentBox > .slideBox > ul > li > .picBox.pic_img_02 {
              background-image: url("../nivea_image/sub_product/brand_image_02.jpg"); }
            #contentBox > .slideBox > ul > li > .picBox.pic_img_03 {
              background-image: url("../nivea_image/sub_product/brand_image_03.jpg"); }
            #contentBox > .slideBox > ul > li > .picBox.pic_img_04 {
              background-image: url("../nivea_image/sub_product/brand_image_04.jpg"); }
            #contentBox > .slideBox > ul > li > .picBox.pic_img_05 {
              background-image: url("../nivea_image/sub_product/brand_image_05.jpg"); }
          #contentBox > .slideBox > ul > li > .textBox {
            position: relative;
            float: right;
            width: 42vw;
            height: 42vw; }
            #contentBox > .slideBox > ul > li > .textBox > p {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              font-size: 0.75rem;
              width: 42vw;
              height: 42px;
              margin: auto;
              text-align: center; }
  #footBox {
    width: 100%;
    height: 80px;
    background-color: #00136F; } }

@media screen and (min-width: 768px) and (max-width: 1279px) {
  #headBox {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #00146F; }
    #headBox > h1 {
      float: left;
      width: 20%;
      height: 80px;
      margin-left: 2vw; }
      #headBox > h1 > a {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../nivea_image/logo/nivea_logo.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%; }
    #headBox > .navgation {
      float: left;
      width: 70%;
      height: 100%; }
      #headBox > .navgation > ul {
        width: 100%;
        height: 100%; }
        #headBox > .navgation > ul > li {
          float: left;
          width: 30%;
          height: 100%;
          margin-right: 2vw; }
          #headBox > .navgation > ul > li:last-child {
            margin-right: 0; }
          #headBox > .navgation > ul > li:first-child {
            margin-left: 0; }
          #headBox > .navgation > ul > li > button {
            display: block;
            width: 100%;
            height: 100%;
            color: #fff;
            text-transform: uppercase;
            line-height: 80px;
            font-size: 0.8rem;
            background-color: transparent; }
          #headBox > .navgation > ul > li > .slide {
            position: absolute;
            left: 0;
            width: 100%;
            height: 200px;
            background-color: #fff;
            border: 1px solid #00136F;
            padding-left: 2%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; }
            #headBox > .navgation > ul > li > .slide > dl {
              float: left;
              width: 50%;
              height: 100%; }
              #headBox > .navgation > ul > li > .slide > dl > dt {
                color: #00136F;
                font-weight: 999;
                font-size: 0.8rem;
                padding: 30px; }
              #headBox > .navgation > ul > li > .slide > dl > dd {
                width: 180px;
                margin-bottom: 15px;
                text-indent: 30px; }
                #headBox > .navgation > ul > li > .slide > dl > dd > a {
                  display: block;
                  width: 100%;
                  height: 100%;
                  color: #333;
                  font-size: 0.8rem; }
            #headBox > .navgation > ul > li > .slide.slide_003 {
              height: 250px; }
              #headBox > .navgation > ul > li > .slide.slide_003 > dl {
                width: 50%;
                height: 65%; }
              #headBox > .navgation > ul > li > .slide.slide_003 > dl:last-of-type {
                width: 100%;
                height: auto;
                margin-top: 20px; }
                #headBox > .navgation > ul > li > .slide.slide_003 > dl:last-of-type > dt {
                  float: left;
                  margin-right: 30vw;
                  padding: 10px 20px; }
                  #headBox > .navgation > ul > li > .slide.slide_003 > dl:last-of-type > dt:last-child {
                    margin-right: 0; }
                  #headBox > .navgation > ul > li > .slide.slide_003 > dl:last-of-type > dt > a {
                    display: block;
                    color: #00136F;
                    font-weight: 999;
                    font-size: 0.8rem;
                    width: 100%;
                    height: 100%; }
          #headBox > .navgation > ul > li:nth-child(1) > .slide_001 {
            display: none; }
          #headBox > .navgation > ul > li:nth-child(2) > .slide_002 {
            display: none; }
          #headBox > .navgation > ul > li:nth-child(3) > .slide_003 {
            display: none; }
  #contentBox {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px; }
    #contentBox > .brand_textBox {
      width: 100%;
      height: 85px;
      margin-top: 50px;
      background-color: #EEF2FD;
      color: #00136F; }
      #contentBox > .brand_textBox > p {
        text-align: center;
        line-height: 85px;
        font-weight: bold;
        font-size: 1.3rem; }
    #contentBox > .imageBox {
      width: 90vw;
      height: 42vw;
      margin: auto;
      margin-top: 50px; }
      #contentBox > .imageBox > .image_L {
        float: left;
        width: 42vw;
        height: 42vw;
        background-color: #cac; }
      #contentBox > .imageBox > .image_R {
        float: right;
        width: 42vw;
        height: 42vw;
        background-color: #cca; }
    #contentBox > .text_box_p {
      width: auto;
      height: auto; }
      #contentBox > .text_box_p > .textBox123 {
        width: 90vw;
        height: auto;
        margin: auto;
        margin-top: 25px; }
        #contentBox > .text_box_p > .textBox123 dt {
          font-size: 1.1rem;
          font-weight: bold;
          text-indent: 15px;
          padding-top: 10px; }
        #contentBox > .text_box_p > .textBox123 dd {
          font-size: 1rem;
          margin-top: 10px; }
    #contentBox > .oli_Box {
      width: 90%;
      height: auto;
      margin: auto; }
      #contentBox > .oli_Box > .oil_image {
        float: left;
        width: 42vw;
        height: 42vw;
        background-image: url("../nivea_image/sub_product/oil.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 80% 50%; }
      #contentBox > .oli_Box > .oil_textBox {
        float: right;
        width: 42vw;
        height: auto;
        padding-top: 10vw; }
        #contentBox > .oli_Box > .oil_textBox dt {
          font-size: 1.1rem;
          text-indent: 15px;
          font-weight: bold; }
        #contentBox > .oli_Box > .oil_textBox dd {
          font-size: 0.7rem;
          margin-top: 10px; }
    #contentBox > .animalBox {
      width: 90vw;
      height: 42vw;
      margin: auto; }
      #contentBox > .animalBox > .animal_img {
        float: left;
        width: 42vw;
        height: 42vw;
        background-image: url("../nivea_image/sub_product/animal_test.jpg");
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat; }
      #contentBox > .animalBox > .animal_text {
        position: relative;
        float: right;
        width: 42vw;
        height: 42vw; }
        #contentBox > .animalBox > .animal_text p {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          font-size: 1rem;
          width: 42vw;
          height: 42px;
          margin: auto;
          text-align: center; }
    #contentBox > .slideBox {
      width: 90vw;
      height: 42vw;
      margin: auto;
      margin-top: 50px;
      overflow: hidden; }
      #contentBox > .slideBox > ul {
        width: 500%;
        height: 100%; }
        #contentBox > .slideBox > ul > li {
          float: left;
          width: 20%;
          height: 100%; }
          #contentBox > .slideBox > ul > li > .picBox {
            float: left;
            width: 42vw;
            height: 42vw;
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat; }
            #contentBox > .slideBox > ul > li > .picBox.pic_img_01 {
              background-image: url("../nivea_image/sub_product/brand_image_01.jpg"); }
            #contentBox > .slideBox > ul > li > .picBox.pic_img_02 {
              background-image: url("../nivea_image/sub_product/brand_image_02.jpg"); }
            #contentBox > .slideBox > ul > li > .picBox.pic_img_03 {
              background-image: url("../nivea_image/sub_product/brand_image_03.jpg"); }
            #contentBox > .slideBox > ul > li > .picBox.pic_img_04 {
              background-image: url("../nivea_image/sub_product/brand_image_04.jpg"); }
            #contentBox > .slideBox > ul > li > .picBox.pic_img_05 {
              background-image: url("../nivea_image/sub_product/brand_image_05.jpg"); }
          #contentBox > .slideBox > ul > li > .textBox {
            position: relative;
            float: right;
            width: 42vw;
            height: 42vw; }
            #contentBox > .slideBox > ul > li > .textBox > p {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              font-size: 1rem;
              width: 42vw;
              height: 42px;
              margin: auto;
              text-align: center; }
  #footBox {
    width: 100%;
    height: 80px;
    background-color: #00136F; } }

@media screen and (min-width: 1280px) {
  #headBox {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 1440px;
    height: 120px;
    background-color: #fff; }
    #headBox > h1 {
      float: left;
      width: 30%;
      height: 120px;
      margin-left: 2vw; }
      #headBox > h1 > a {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../nivea_image/logo/nivea_logo.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%; }
    #headBox > .navgation {
      float: left;
      width: 60%;
      height: 100%; }
      #headBox > .navgation > ul {
        width: 100%;
        height: 100%;
        max-width: 1440px; }
        #headBox > .navgation > ul > li {
          float: left;
          width: auto;
          height: 100%;
          margin-right: 6vw; }
          #headBox > .navgation > ul > li:last-child {
            margin-right: 0; }
          #headBox > .navgation > ul > li:first-child {
            margin-left: 8vw; }
          #headBox > .navgation > ul > li > button {
            display: block;
            width: 100%;
            height: 100%;
            color: #00136F;
            text-transform: uppercase;
            line-height: 120px;
            font-size: 1.125rem;
            background-color: transparent; }
          #headBox > .navgation > ul > li > .slide {
            position: absolute;
            left: 40%;
            width: 60%;
            height: 200px;
            background-color: #fff;
            border: 3px solid #00136F;
            border-top: 0;
            padding-left: 2%;
            -webkit-box-sizing: border-box;
            box-sizing: border-box; }
            #headBox > .navgation > ul > li > .slide > dl {
              float: left;
              width: 30%;
              height: 100%; }
              #headBox > .navgation > ul > li > .slide > dl > dt {
                color: #00136F;
                font-weight: 999;
                font-size: 1.1rem;
                padding: 30px; }
              #headBox > .navgation > ul > li > .slide > dl > dd {
                width: 180px;
                margin-bottom: 10px;
                text-indent: 30px; }
                #headBox > .navgation > ul > li > .slide > dl > dd > a {
                  display: block;
                  width: 100%;
                  height: 100%;
                  color: #333; }
            #headBox > .navgation > ul > li > .slide.slide_003 {
              height: 270px; }
              #headBox > .navgation > ul > li > .slide.slide_003 > dl {
                width: 50%;
                height: 65%; }
              #headBox > .navgation > ul > li > .slide.slide_003 > dl:last-of-type {
                width: 100%;
                height: auto;
                margin-top: 20px; }
                #headBox > .navgation > ul > li > .slide.slide_003 > dl:last-of-type > dt {
                  float: left;
                  margin-right: 11vw;
                  padding: 10px 20px; }
                  #headBox > .navgation > ul > li > .slide.slide_003 > dl:last-of-type > dt:last-child {
                    margin-right: 0; }
                  #headBox > .navgation > ul > li > .slide.slide_003 > dl:last-of-type > dt > a {
                    display: block;
                    color: #00136F;
                    font-weight: 999;
                    font-size: 1.1rem;
                    width: 100%;
                    height: 100%; }
          #headBox > .navgation > ul > li:nth-child(1) > .slide_001 {
            display: none; }
          #headBox > .navgation > ul > li:nth-child(2) > .slide_002 {
            display: none; }
          #headBox > .navgation > ul > li:nth-child(3) > .slide_003 {
            display: none; }
    #headBox:before {
      content: " ";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      border: 1px solid #E8E8E8; }
  #contentBox {
    width: 100%;
    height: 1800px;
    padding-top: 180px;
    max-width: 1440px;
    margin: auto;
    background-color: #fff;
    padding-bottom: 80px; }
    #contentBox > .brand_textBox {
      width: 100%;
      height: 85px;
      margin-top: 50px;
      max-width: 1440px;
      margin: auto;
      background-color: #EEF2FD;
      color: #00136F; }
      #contentBox > .brand_textBox > p {
        text-align: center;
        line-height: 85px;
        font-weight: bold;
        font-size: 1.3rem; }
    #contentBox > .imageBox {
      width: 100%;
      height: auto;
      margin: auto;
      margin-top: 70px; }
      #contentBox > .imageBox > .image_L {
        float: left;
        width: 35%;
        height: 400px;
        background-image: url("../nivea_image/sub_product/brand.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover; }
      #contentBox > .imageBox > .image_R {
        float: right;
        width: 60%;
        height: 400px;
        background-image: url("../nivea_image/sub_product/nivea_store.jpg");
        background-repeat: no-repeat;
        background-position: 50% auto;
        background-size: cover; }
    #contentBox > .text_box_p {
      float: left;
      width: 65%;
      height: auto;
      margin: auto;
      margin-top: 60px; }
      #contentBox > .text_box_p > .textBox123 {
        width: 100%;
        height: 130px;
        border: 2px solid #00136F;
        border-radius: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 40px; }
        #contentBox > .text_box_p > .textBox123 > dl {
          width: 100%;
          height: 100%; }
          #contentBox > .text_box_p > .textBox123 > dl > dt {
            font-size: 1.2rem;
            text-indent: 20px;
            padding-top: 15px;
            font-weight: bold; }
          #contentBox > .text_box_p > .textBox123 > dl > dd {
            font-size: 1rem;
            padding: 5px 20px; }
        #contentBox > .text_box_p > .textBox123:first-child {
          margin-top: 0; }
    #contentBox > .text_box_iii {
      float: right;
      width: 30%;
      height: 300px;
      margin-top: 60px;
      border-radius: 10px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-position: 50% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../nivea_image/sub_product/onejaro.jpg"); }
    #contentBox > .oli_Box {
      float: left;
      width: 100%;
      height: auto;
      margin-top: 80px; }
      #contentBox > .oli_Box > .oil_image {
        float: left;
        width: 65%;
        height: 300px;
        border-radius: 20px;
        background-image: url("../nivea_image/sub_product/oil_02.jpg");
        background-position: 50% 90%;
        background-size: cover;
        background-repeat: no-repeat; }
      #contentBox > .oli_Box > .oil_textBox {
        float: right;
        width: 30%;
        height: 300px;
        border: 2px solid #00136F;
        border-radius: 10px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        #contentBox > .oli_Box > .oil_textBox > dl {
          width: 100%;
          height: 100%; }
          #contentBox > .oli_Box > .oil_textBox > dl > dt {
            font-size: 1.2rem;
            text-indent: 20px;
            padding-top: 15px;
            font-weight: bold; }
          #contentBox > .oli_Box > .oil_textBox > dl > dd {
            font-size: 1rem;
            padding: 5px 20px; }
    #contentBox > .animalBox {
      float: left;
      width: 30%;
      height: 400px;
      margin-top: 80px; }
      #contentBox > .animalBox > .animal_img {
        width: 100%;
        height: 300px;
        margin-bottom: 30px;
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../nivea_image/sub_product/animal_test.jpg"); }
      #contentBox > .animalBox > .animal_text {
        width: 100%;
        height: 70px; }
        #contentBox > .animalBox > .animal_text > p {
          font-size: 1.2rem;
          text-align: center;
          padding-top: 14px;
          font-weight: bold; }
    #contentBox > .slideBox {
      float: right;
      width: 65%;
      height: 400px;
      margin-top: 80px;
      overflow: hidden; }
      #contentBox > .slideBox > ul {
        position: relative;
        left: -100%;
        width: 600%;
        height: 100%; }
        #contentBox > .slideBox > ul > li {
          float: left;
          width: 16.66667%;
          height: 100%; }
          #contentBox > .slideBox > ul > li > .picBox {
            float: left;
            width: 52%;
            height: 100%;
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat; }
            #contentBox > .slideBox > ul > li > .picBox.pic_img_01 {
              background-image: url("../nivea_image/sub_product/brand_image_01.jpg"); }
            #contentBox > .slideBox > ul > li > .picBox.pic_img_02 {
              background-image: url("../nivea_image/sub_product/brand_image_02.jpg"); }
            #contentBox > .slideBox > ul > li > .picBox.pic_img_03 {
              background-image: url("../nivea_image/sub_product/brand_image_03.jpg"); }
            #contentBox > .slideBox > ul > li > .picBox.pic_img_04 {
              background-image: url("../nivea_image/sub_product/brand_image_04.jpg"); }
            #contentBox > .slideBox > ul > li > .picBox.pic_img_05 {
              background-image: url("../nivea_image/sub_product/brand_image_05.jpg"); }
          #contentBox > .slideBox > ul > li > .textBox {
            float: right;
            width: 46%;
            height: 100%; }
            #contentBox > .slideBox > ul > li > .textBox > p {
              text-align: center;
              padding-top: 165px;
              font-size: 1rem;
              font-weight: bold; }
  #footBox {
    width: 100%;
    height: 180px;
    background-color: #00136F;
    max-width: 1440px;
    margin: auto; } }
