@media screen and (min-width: 240px) and (max-width: 767px) {
#headBox{position:fixed; z-index:200; top:0; left:0; width: 100%; height: 80px; background-color: #00146F;
	>h1{float:left; width: 20%; height: 80px; margin-left:2vw;
		>a{display:block; width: 100%; height: 100%; 
		background-image:url("../../nivea_image/logo/nivea_logo.png");
		background-repeat:no-repeat; background-size:contain; background-position:50% 50%;
		}//a
	}//h1

>.navgation{float:left; width: 70%; height: 100%;
	>ul{width: 100%; height: 100%;
		>li{float: left; width: 30%; height: 100%; margin-right: 2vw;
				&:last-child{margin-right:0;}
				&:first-child{margin-left:3vw;}
			>button{display:block; width: 100%; height: 100%; color:#fff; text-transform: uppercase;
					line-height:80px; font-size: 0.8rem; background-color: transparent;
			}//a
		&>.slide{position:absolute; left:0; width: 100%; height: 200px; 
			background-color: #fff; border:1px solid #00136F; padding-left:2%; box-sizing:border-box;
			>dl{float:left; width: 50%; height: 100%;
				>dt{color:#00136F; font-weight:999; font-size: 0.8rem; padding:30px;}//dt
				>dd{width: 180px; margin-bottom:15px; text-indent: 30px;
						>a{display:block; width: 100%; height: 100%; color:#333; font-size: 0.8rem;}
						}//dd
				}//dl
		&.slide_003{height: 250px;
				>dl{width: 50%; height: 65%;}
				>dl:last-of-type{width: 100%; height: auto; margin-top:20px;
					>dt{float:left;margin-right:5vw; padding:10px 20px;
						&:last-child{margin-right:0;}
						>a{display:block; color:#00136F; font-weight:999; font-size: 0.8rem; width: 100%; height: 100%;

							}//a
						}//dt
					}//dl-last-of-type
				}//slide_003
			}//slide
		


		&:nth-child(1)>.slide_001{display:none;}
		&:nth-child(2)>.slide_002{display:none;}
		&:nth-child(3)>.slide_003{display:none;}
		}//li
	}//ul
}//nav
}//headBox

#contentBox{width: 100%; height: auto; max-width:570px; margin:auto; padding-top:80px;
	>.main_image{ width: 100%; height: 200px; margin-top:40px;
								background-image:url("../../nivea_image/main/nivea_ad_02.jpg");
								background-position:50% 50%; background-size:cover; background-repeat:no-repeat;}//main_image
	>.menu_bar{width: 100%; height: 95px; margin-top:40px; 
				border-top:1px solid #999; border-bottom:1px solid #999;
		>.menu_bar_text{width: auto; height: auto; text-align: center; text-transform: uppercase; font-weight:bold;
						color:#00136F; font-size: 1.5rem; padding-top:13px;}//menu_bar_text
		>.menu{width: 100%; height: 60px;margin:auto; text-align:center;
			>li{display:inline-block;  margin-right: 2.5vw;
				&:last-child{margin-right:0;}
				>a{display:block; width: 100%; height: 100%; line-height:60px; font-size: 0.875rem;

				}//a
			}//li
		}//menu
	}//menu_bar

	>.product_area{width: 100%; height: auto; margin-top:40px;
		>ul{width:95%; height: 100%; margin:auto;text-align:center; text-align:center;
				>li{position:relative; display:inline-block; width: 43vw; max-width:250px; height: 70vw; max-height: 400px;
					 margin-right:3vw; border-radius: 35px;
						margin-bottom: 25px; border:2px solid #00136F; background-image:url("../../nivea_image/sub_product/sun_01.jpg");
						background-repeat:no-repeat; background-position:50% 20%; background-size: contain;
						&:nth-child(2n){margin-right:0;}
						&:nth-child(5){display:none;}
						&:nth-child(6){display:none;}
						&:hover{transform:scale(1.05); transition:all 500ms ease;}

					>dl{position:absolute; bottom:0; width: 100%; height: 70px; background-color: #00136F;
						 border-radius:0 0 30px 30px; color:#fff;
						 >dt{margin-top:15px; font-size: 0.9375rem;}
						 >dd{margin-top:5px; font-size: 0.875rem;}

					}//dl
					}//li


			}//ul
		}//product_area
	}//conBox
#footBox{ width: 100%; height: 80px; background-color: #00136F;}

}//media