@media screen and (min-width: 1280px){
	#headBox{position:fixed; z-index:200; top:0; left:0; right:0; margin:auto; 
			width: 100%; max-width:1440px; height: 120px; background-color: #fff;

	>h1{float:left; width: 30%; height: 120px; margin-left:2vw;
		>a{display:block; width: 100%; height: 100%; 
		background-image:url("../../nivea_image/logo/nivea_logo.png");
		background-repeat:no-repeat; background-size:contain; background-position:50% 50%;
		}//a
	}//h1

>.navgation{float:left; width: 60%; height: 100%;
	>ul{ width: 100%; height: 100%; max-width:1440px;
		>li{float: left; width: auto; height: 100%; margin-right: 6vw;
				&:last-child{margin-right:0;}
				&:first-child{margin-left:8vw;}
			>button{display:block; width: 100%; height: 100%; color:#00136F; text-transform: uppercase;
					line-height:120px; font-size: 1.125rem; background-color: transparent;
			}//a
		&>.slide{position:absolute; left:40%; width: 60%; height: 200px; 
			background-color: #fff; border:3px solid #00136F; border-top:0; padding-left:2%; box-sizing:border-box;
			>dl{float:left; width: 30%; height: 100%;
				>dt{color:#00136F; font-weight:999; font-size: 1.1rem; padding:30px;}//dt
				>dd{width: 180px; margin-bottom:10px; text-indent: 30px;
						>a{display:block; width: 100%; height: 100%; color:#333;}
						}//dd
				}//dl
		&.slide_003{height: 270px;
				>dl{width: 50%; height: 65%;}
				>dl:last-of-type{width: 100%; height: auto; margin-top:20px;
					>dt{float:left;margin-right:11vw; padding:10px 20px;
						&:last-child{margin-right:0;}
						>a{display:block; color:#00136F; font-weight:999; font-size: 1.1rem; width: 100%; height: 100%;

							}//a
					 	}//dt
					}//dl-last-of-type
				}//slide_003			

			}//slide
		
		&:nth-child(1)>.slide_001{display:none;}
		&:nth-child(2)>.slide_002{display:none;}
		&:nth-child(3)>.slide_003{display:none;}
		}//li
	}//ul
}//nav

&:before{content:" "; display:block; position:absolute; bottom:0; left:0;  
				width: 100%; height:0; border:1px solid #E8E8E8;}

}//headBox
#contentBox{width: 100%; height: auto; margin: auto; background-color: #fff; padding-top:180px;
	>.career_text{width: 100%; height: 85px; margin-top: 50px;  max-width:1440px; margin: auto; background-color: #EEF2FD; color:#00136F;
		>p{text-align: center; line-height:85px; font-weight: bold; font-size: 1.3rem;}
		}//main_text

	>.main_img{width: 67%; height: 83vw; max-width:960px; max-height: 400px;
				 margin:auto; margin-top: 80px; background-image: url("../../nivea_image/sub_product/career_img_01.jpg");
					background-repeat: no-repeat; background-size:cover; background-position:50% 50%;}
	>.main_img_text{width: 70%; height: auto; max-height: 400px; margin-top: 10px; text-align:center;
						margin-left: 15%;
		>p{font-size: 1rem;}
		}//main_img_text


	>.main_img_02{width: 67%; height: 83vw; max-width:960px; max-height: 400px;
				 margin:auto; margin-top: 80px; background-image: url("../../nivea_image/sub_product/career_img_02.jpg");
					background-repeat: no-repeat; background-size:cover; background-position:50% 50%;}
	>.main_img_text_02{width: 67%; height: auto; max-height: 400px; margin-top: 10px; text-align:center;
						margin-left: 16.5%;
		>p{font-size: 1rem;}
	}//main_img_text_02

	>.hire_text{width: 100%; max-width:1440px; margin: auto; height: 85px; background-color: #EEF2FD; margin-top: 80px;
		>p{text-align:center; line-height:85px; color:#00136F; font-weight:bold; font-size: 1.3rem;}
		}//main_text_02
	>.hire_text_Box{width: 90vw; max-width:1440px; height: auto; margin:auto; margin-top: 40px;
		>p{text-align:center; font-size: 1rem;}}
	>.hire_text_image{width: 62.5vw; height: 62.5vw; max-width:400px; max-height:400px; margin:auto;
					  	background-image: url("../../nivea_image/sub_product/onejaro.png");
						background-repeat: no-repeat; background-size:100%; background-position:50% 50%;}
	>.hire_text_sub{text-align:center; margin-top:10px;
		>a{font-size: 1.125rem; font-weight: 999; color:#00136F;}
	}//

	}//conBox


#footBox{width: 100%; max-width:1440px; height: 180px; margin: auto;
		 background-color: #00136F; margin-top:40px;}


}//media